<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.mssproj">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SBU Smart Connect"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main3Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".home" />
        <activity android:name=".Dispalyobjects" />
        <activity android:name=".Connectobject" />
        <activity android:name=".OpenClose" />
        <activity android:name=".Light" />
        <activity android:name=".AirConditioning" />
        <activity android:name=".Print" />
        <activity android:name=".Projector" />
        <activity android:name=".Vendingmachine" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".Syst" />
        <activity android:name=".Accessdenied"></activity>
    </application>

</manifest>